body {
  background-color: #e6f9ff;
  margin: 0;
}
.main-menu-container { 
  padding: 1em;
}

.main-menu-container p {
  font-size: 3em;
  text-align: center;
}

.main-menu-container button {
  width: 100%;
  height: 5em;
}

#canvas-container #fps-overlay {
  position: absolute; 
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.2);
  font-size: 20px;
}

#canvas-container .main-menu-container {
  position: absolute;
}
